<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <iframe src="https://www.youtube.com/embed/_uQrJ0TkZlc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Python full Course</h4>
    <p>Here you can learn all about Python Language</p>
  </li>
  <li class="recipe">
    <iframe src="https://www.youtube.com/embed/KJgsSFOSQv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>C Language Full Course</h4>
    <p>Here you can learn all about C Language</p>
  </li>
  <li class="recipe">
    <iframe src="https://www.youtube.com/embed/8cm1x4bC610" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Java Full Course</h4>
    <p>Here you can leran all about Java Language</p>
  </li>
  <li class="recipe">
    <iframe src="https://www.youtube.com/embed/8cm1x4bC610" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>SQL Full Course</h4>
    <p>Here you can leran all about SQL Database</p>
  </li>
  <li class="recipe">
    <iframe src="https://www.youtube.com/embed/ObbNGhcxXJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>ORACLE SQL Full Course</h4>
    <p>Here you can leran all about ORACLE Database</p>
  </li>
  <li class="recipe">
    <iframe src="https://www.youtube.com/embed/Q33KBiDriJY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Web Development Full Course</h4>
    <p>Here you can leran all about Web Development</p>
  </li>
</ul>

<%- include('partials/footer'); -%>