<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/Internships.png" alt="">
  </div>
  <div class="headings">
    <h2>Welocome to Internship Program</h2>
    <h3>By STIGE </h3>
    <a href="/Courses" class="btn">View Internship Programs</a>
  </div>
</header>


<%- include('partials/footer'); -%>